
h1 {
    text-align: center;
    font-family: "Lucida Handwriting";
    font-weight: bold;
}

body {
    font-family: "Papyrus";
    background-color: #F8F0E5;
    color: #61677A;
    font-weight: 700;
}
footer {
padding-top: 10%;
margin-top: auto;
bottom: 0px;
width: 100%;
text-align: center;

}


.inputBox form {
    font-size: 150%;
    margin-top: 5%;
    overflow: hidden;
    text-align: center;
}

.itemBox{
    font-size: 150%;
    text-align: center;
    /* background-color: grey; */
    
}


.tasks-container {
    max-width: 70%;
    display: inline-block;
    text-align: left;
    font-size: 100%;
    color: #040D12;
    /* border: solid yellow; */
}

.task{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3%;
}

.task2 {
    padding-left: 2%;
    padding-right: 2%;
    /* border: solid green;  */
    overflow: hidden;
    white-space: wrap;
}

p {

    font-size: 150%;
    color: #040D12;
    /* border: solid green; */
}

.itemBox p {
    padding:1.5%;
    background-color: #CEDEBD;
}


  